<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SWAPI</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav>
    <h1 class="text-center p-5 font-sw tc-yellow">star wars</h1>
  </nav>
  <section class="d-flex">
    <div id="container " class="container">
      <div id="card-deck" class="card-deck">
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script src="../exercise-swapi/js/getfetch.js"></script>
</body>

</html>